pre {
font-size: 9pt;
margin-left: 3em;
padding: 6px;
background-color: #eee;
border-style: solid;
border-color: black;
color		: black;
border-width: 1px 1px;
}

body {
font-family: Verdana, Arial, Helvetica, Sans-Serif;
font-size: 11pt;
margin-left: 5em;
margin-right: 5em;
text-decoration	: none;
}


