body {
        background-color: white;
        color: black;
        margin: 1.5em;
}


pre {
	font-size: 13;
	margin-left: 2em;
	margin-right: 1em;
	padding: 8px;
	background-color: lightgreen;
	border-style: solid;
	border-color: black;
	border-width: 1px 1px;
}

dl {
        margin: 2em;
}
