div.header {
  background: #eee;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  text-align: center;
}
div.header h2{
  font-style: italic;
}

div.body {
  margin-left: 140px;
  padding-left: 4em;
  padding-right: 2em;
  color: #222;
}

div.body h2{
  text-decoration: underline;
}
